<!doctype html>
<title>Aggregator For E-Shopping</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Aggregator For E-Shopping</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <h2><div class=flash> Please login using your credentials.</div></h2>
    <a href="{{ url_for('login') }}">Let me in!</a>
    <a href="{{ url_for('signUp') }}">I am newbie!</a>
  {% else %}
    <a href="{{ url_for('edit') }}">Profile</a>
    <a href="{{ url_for('logout') }}">Wanna go now!</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>